body{
	background-color: #FFFFCC
}

h2{
	text-decoration: underline;
}

#navigation{
	position: absolute; margin-left: 25%; text-align: center;
}

#tablesectionOne, #tablesectionTwo, #tablesectionThree, #tablesectionFour{
	table-layout: fixed; text-align: center; background-color: #FFFFDD; position: absolute; margin-top: 7px;
}

.CAPTION{
	background-color: rgb(255,185,115); font-family: arial; empty-cells: show;
}

th, td{
	border: solid thin #D0D0D0; empty-cells: show;
}